@charset "utf-8";

.tlt > * > tr * {
  border: none;
}

.tlt > thead > tr > th {
  border-top: 1.5px solid #000;
  border-bottom: 1px solid #000;
}

.tlt > tbody > tr:last-child {
  border-bottom: 1.5px solid #000;
}